<!doctype html>
    <html lang="en">
    <head>
        {% include 'ecomm/cdnlines.html' %}
        <title>Registration Page</title>
    </head>
    <body>
    {% include 'ecomm/navbar.html' %}
    <div class="jumbotron text-center">
        <h1 class="display-3">Registration Page</h1>
        <p class="lead">######</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'loginView' %}" role="button">Login Page</a>
        </p>
    </div>
    <div class="container">
    	<div class="row">
            <div class="offset-md-4 col-md-4">
                <form method="POST">
                    {% csrf_token %}
                    <label for="uname">Enter Your User Name</label>
                    <input type="text" name="uname" placeholder="UserName" class="form-control">
                    <label for="pwd">Enter Your PassWord</label>
                    <input type="password" name="pwd" placeholder="Password" class="form-control">
                    <label for="cpwd">Enter Your PassWord Again</label>
                    <input type="password" name="cpwd" placeholder="Confirm Password" class="form-control">
                    <label for="mobile">Enter Your Mobile</label>
                    <input type="number" name="mobile" placeholder="MobileNumber" class="form-control">
                    <label for="emailid">Enter Your Email</label>
                    <input type="text" name="emailid" placeholder="EmailId" class="form-control">
                    <div class="row">
                        <br>
                    </div>
                    <center>
                    <input type="submit" value="createUser" class="btn btn-primary" >
                    <input type="reset" value="resetDetails" class="btn btn-danger">
                        </center>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>